{% extends  'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odit voluptate nam adipisci quae ab praesentium, facilis incidunt
    repellat nemo distinctio provident consectetur ullam! Ex, ea earum iste minima odio ipsum iure asperiores beatae quae alias voluptate, optio nihil corrupti.</p>
    <p>Consectetur culpa rem doloribus adipisci non rerum dolorem dolores et quo nisi, at possimus labore numquam iusto provident. Qui distinctio aut eos eligendi iste, 
    cum veritatis magnam esse consequatur fuga eius veniam facere ullam ducimus sunt commodi, ipsa odio voluptatum!</p>

{% endblock %}